*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#calculator{
  border: 1px solid rgb(83, 82, 82);
  height: 550px;
  width: 400px;
  border-radius: 10px;
  margin: 30px;
  background-color: black;
}
#display{
  margin-left: 30px;
  margin-top: 30px;
  width: 80%;
  height: 10%;
  font-size: 25px;
  background-color: rgb(93, 135, 93);
  color: white;
}
.btn{
  height: 65px;
  width: 65px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 10px;
}
.btn-container{
  display: flex;
  justify-content: centre;
  margin-left: 25px;
  flex-wrap: wrap;
}
#clear{
  background-color: rgb(240, 55, 55);
}
.btn{
  background-color: rgb(46, 45, 45);
}
/* media query */
@media (max-width: 600px){
  #calculator{
    width: 95%;
    height: auto;
  }
  .btn{
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: 20px;
  }
  #display{
    width: 90%;
    font-size: 20px;
  }
}
